<h1>User#welcome</h1>

<p>
  <%= @greeting %>, find me in app/views/user_mailer/welcome.html.erb
</p>

<p>Hi <%= @user.email %>,</p>

<p>Your account is created!</p>

<p>See you soon on Fan Shop!</p>
