.dashboard {
  padding: 15px;
  display: flex;
  background-color: white;
  h2 {
    margin: 0;
    padding: 0;
  }
}

.user-box {
  margin: 20px;
  padding-top: 80px;
  padding-bottom: 80px;
  padding: 30px;
  width: 30%;
  background-color: white;
  border-style: solid;
  border-radius: 0%;
  border-width: 2px;
  height: fit-content;
  height: 85vh;
  filter: drop-shadow(0px -2px 9px #8c8c8c24);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  position: sticky;
  top: 50px;
}

.dash {
  margin: 20px;
  padding: 30px;
  padding-top: 0px;
  width: 70%;
}

.products {
  list-style: none;
  padding: 0;
  margin: 12px;
  white-space: nowrap;
  display: flex;
  background-color: white;
  width: 100% ;
  overflow-x: auto;
  padding: 12px;
}


.product{
  margin: 20px;
  background-color: white;
  height: 40vh;
  overflow: hidden;
  width: 20vw;
  flex: 0 0 20vw;
  justify-content: center;
  align-items: center;

  &.flex-item:not(:last-of-type) {
    margin-right: 12px;
  }
}

.card-dash-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product-info {
  display: flex;
  justify-content: space-between;
  height: 15%;
  p {
    margin: 0;
  }
}

.product-image{
  height: 85%;
  overflow: hidden;

  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.btn-dashboard{
  background:#252850;
  color: white;
  border: solid;
  border-color: #252850;
  padding: 2px 15px;
  border-radius: 6px;
  font-family: 'Helvetica Neue LT Pro', sans-serif;

  a{
    color: white
  }
}

.btn-dashboard-secondary{
  background: white;
  color: black;
  border: solid;
  padding: 1px 15px;
  border-radius: 6px;

  a{
    color: black;
  }
}

.btn-dashboard:hover{
  background:#252850;
  color: white;
  border: none;
  padding: 5px 21px;
  border-radius: 6px;

  a{
    color: white
  }
}

.btn-dashboard-secondary:hover{
  background: white;
  color: black;
  border: solid;
  padding: 1px 18px;
  border-radius: 6px;

  a{
    color: black;
  }
}

.title-box {
  display: flex;
  .btn-dashboard{
    margin-left: 30px;
    margin-top: 8px;
  }
}

.wrap{
  flex-wrap: wrap;
}

.margin{
  padding-right: 50px;
  padding-left: 50px;
}

.campaign{
  margin-top: 20px;
  padding-top: 30px;
  padding-left: 50px;
  padding-right: 50px;
  border-style: solid;
  border-radius: 0%;
  border-width: 2px;
  height: fit-content;
  height: 100%;
  filter: drop-shadow(0px -2px 9px #8c8c8c24);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
}

.campaign-top{
  display: flex;
  justify-content: space-between;
}

.campaign-bottom{
  display: flex;
  width: 100%;
  padding-top: 20px;
}

.campaign-images{
  width: 80%;
  list-style: none;
  padding: 0;
  margin: 0;
  white-space: nowrap;
  display: flex;
  background-color: white;
  overflow-x: auto;
}

.campaign-info{
  width: 20%;
  text-align: right;
}

.campaign-image{
  background-color: white;
  height: 40vh;
  overflow: hidden;
  width: 20vw;
  flex: 0 0 20vw;
  justify-content: center;
  align-items: center;
  margin-right: 20px;

  &.flex-item:not(:last-of-type) {
    margin-right: 10px;
  }
}
