body {
  background-color: white;
}

.banner {
  background-size: cover;
  background-position: center;
  padding: 470px 0;
}

.banner h1 {
  position: absolute;
  top: 135px;
  left: 45px;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 60px;
}

.btn-link {
  font-weight: bold;
  position: absolute;
  top: 940px;
  left: 45px;
  font-size: 22px;
}

.banner h3 {
  position: absolute;
  top: 780px;
  left: 45px;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 44px;
  padding-bottom: 12px;
}

.banner p {
  position: absolute;
  top: 835px;
  left: 45px;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 22px;
}

.nav-link-start {
font-weight: bold;
padding-top: 0px;
padding-left: 0px;
}

.shop-by {
  padding-top: 90px;
  padding-bottom: 60px;
  font-size: 45px;
  text-align: center;
}

.p-cardshome {
  color: white;
  font-weight: bold;
  text-align: center;
}

.home-title h1 {
  margin-bottom: 100px;
  margin-top: 100px;
  text-align: center;
  font-size: 60px;
}

.img-home {
  width: 600px;
  height: 550px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  object-fit: cover;
}

.cards {
  margin: 0 auto;
  float: none;
}

.imgs-centered{
  justify-content: center;
  justify-content: space-evenly;
}

.row {
  justify-content: space-between;
  justify-content: space-evenly;
}

.card-body-title {
  text-align: center;
  margin: 20px;
  font-size: 32px;
}

.card-body-text {
  margin: 20px;
  font-size: 22px;
}

.row-home {
  justify-content: space-evenly;
}

.card-become {
  justify-content: center;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 50px;
  padding-bottom: 50px;
}

.become-selller {
  text-align: center;
  padding-bottom: 60px;
  padding-top: 60px;
  font-size: 60px;
}

.card-text-become {
padding-top: 25px;
padding-bottom: 0px;
font-size: 22px;
}

.text-home {
  padding-left: 50px;
}

.card-texb {
  padding-left: 20px;
  padding-right: 20px;
  text-align: left;
  margin: 0px;
  width: 100%;
  padding-bottom: 35px;
}

.strong-text {
  text-align: center;
  padding-bottom: 15px;
}
