.banner {
  background-size: cover;
  background-position: center;
  padding: 500px 0;
}

.banner h1 {
  position: absolute;
  top: 180px;
  left: 45px;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 55px;
}

.btn-link {
  font-weight: bold;
  position: absolute;
  top: 910px;
  left: 32px;
}

.banner h3 {
  position: absolute;
  top: 770px;
  left: 45px;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
}

.banner p {
  position: absolute;
  top: 820px;
  left: 45px;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 20px;
}

.nav-link-start {
font-weight: bold;
padding-top: 0px;
padding-left: 0px;
}

.link {
  text-decoration: none;
}

.home-title h1 {
  margin-bottom: 100px;
  margin-top: 100px;
  text-align: center;
  font-size: 60px;
}

.img-home {
  width: 600px;
  height: 550px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  object-fit: cover;
}


.imgs-centered{
  justify-content: center;
  justify-content: space-evenly;
}

.row {
  justify-content: space-between;
  justify-content: space-evenly;
}

.row h3 {
  padding-top: 20px;
  padding-left: 170px;
  font-size: 28px;
}

.row h4 {
  padding-top: 20px;
  padding-left: 160px;
  font-size: 28px;
}

.row h6 {
  padding-left: 102px;
  font-size: 18px;
}

.row h5 {
  font-size: 18px;
  padding-left: 50px;
}

.row-home {
  justify-content: space-evenly;
}

.become-seller {
  margin: 75px;
  text-align: center;
}

.card-home-title h5 {
  font-size: 38px;
  color: black;
  margin: 25px;
  text-align: center;
}

.card-text {
  margin: 25px;
  font-size: 20px;
  text-align: center;
}

.nav-link-start {
  margin: 25px;
  font-size: 20px;
}
