.banner {
  background-size: cover;
  background-position: center;
  padding: 350px 0;
}

.banner h1 {
  position: absolute;
  top: 120px;
  left: 45px;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 50px;
}

.btn-link {
  position: absolute;
  top: 675px;
  left: 34px;
}

.banner h3 {
  position: absolute;
  top: 530px;
  left: 45px;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 40px;
}

.banner p {
  position: absolute;
  top: 580px;
  left: 45px;
  margin: 0;
  color: white;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  font-size: 20px;
}



.link {
  text-decoration: none;
}

.title h1 {
  margin-bottom: 100px;
  margin-top: 100px;
  text-align: center;
  font-size: 60px;
}

.img-home {
  width: 600px;
  height: 550px;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  object-fit: cover;
}


.imgs-centered{
  justify-content: center;
}

.row h3 {
  padding-top: 20px;
  padding-left: 46px;
  font-size: 28px;
}

.row h4 {

  padding-top: 20px;
  padding-left: 110px;
  font-size: 28px;
}

.row h6 {
  padding-left: 42px;
  font-size: 18px;
}

.row h5 {
  font-size: 18px;
}

.card h5 {
  text-align: start;
  font-size: 25px;
}

.row {
  justify-content: space-evenly;
}
