.product-show{
  margin: 20px;
  background-color: white;
  height: 50vh;
  overflow: hidden;
  width: 20vw;
  flex: 0 0 20vw;
  justify-content: center;
  align-items: center;

  &.flex-item:not(:last-of-type) {
    margin-right: 12px;
  }
}

.product-info-show {
  display: flex;
  justify-content: space-between;
  height: 25%;
  p {
    margin: 0;
  }
}

.product-image-show{
  height: 75%;
  overflow: hidden;

  img{
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}
