$anim-speed: 0.3s;

.img-artists {
  display: grid;
  grid-template-columns:  1fr 1fr 1fr;
  grid-column-gap: 30px;
  grid-row-gap: 30px;
  width: 90vw;
  margin: auto;
  margin-left: 150px;
}
.img-artists:hover .image {
  opacity: 0.3;
}

.img-artists:hover .middle {
  opacity: 1;
}
* {
  box-sizing: inherit;
}

.artists-title {
  margin: 40px;
  color: #252850;
}

.img-box{
  height: 100%;
  width: 100%;
}

.img-user{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 25px;
  max-width: 270px;
  max-height: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  opacity: 1;
  display: block;
  transition: .5s ease;
  backface-visibility: hidden;
}

.text {
  background-color: #04003f;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.shop{
  display: flex;
  align-items: center;
  height: 65vh;
  overflow: hidden;
  background: rgb(5,82,98);
  background: linear-gradient(7deg, #2e2f66, #484c85, #105e8b);
  background-size: 600% 600%;
  -webkit-animation: AnimationName 8s ease infinite;
  -moz-animation: AnimationName 8s ease infinite;
  animation: AnimationName 8s ease infinite;
}

@-webkit-keyframes AnimationName {
  0%{background-position:20% 0%}
  50%{background-position:81% 100%}
  100%{background-position:20% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:20% 0%}
  50%{background-position:81% 100%}
  100%{background-position:20% 0%}
}
@keyframes AnimationName {
  0%{background-position:20% 0%}
  50%{background-position:81% 100%}
  100%{background-position:20% 0%}
}
.shop-user-img{
  width: 90vh;
  height: 70vh;
}
.shop-user-info{
  text-align: left;
  width: 30%;
  color: azure;
  margin: auto;
  margin-bottom: 305px;
  margin-right: 270px;
  p{
    font-size: large;
  }
  h1{
    font-size: 55px;
  }
}
.shop-social{
  position: absolute;
}
