<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="">Fan Shop</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
    <div class="box">
      <li class="nav-item active">
        <a class="nav-link" href="#">Shop<span class="sr-only">(current)</span></a>
      </li>
      </div>
      <div class="box">
      <li class="nav-item active">
        <a class="nav-link" href="#">Design your own<span class="sr-only">(current)</span></a>
      </li>
      </div>
      <div class="box">
      <li class="nav-item active">
        <a class="nav-link" href="#">About us<span class="sr-only">(current)</span></a>
      </li>
      </div>
    </ul>
  </div>
    <button class="btn btn-sm btn-outline-secondary my-2 my-sm-0" type="button">Sign in</button>
</nav>
