<% suma = 0 %>
<div class="background-page">
  <div class="products wrap">
    <% @orders.last.order_items.each do |order_item| %>
      <div class="product">
        <div class="product-image">
          <%= cl_image_tag order_item.product.photo.key %>
        </div>
        <div class="product-info">
          <div class="product-price-name">
          <%= order_item.product.name %>
          <%= order_item.quantity %>
          <% suma += order_item.value unless order_item.value.nil? %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
<%= suma %>
