<h1><%= @user.name %></h1>
<p>Edit profile</p>
<h1><%= @products.count %></h1>
<p>N. Products</p>
<h1><%= @campaigns.count %></h1>
<p>N. Campaigns</p>
<h1>1000</h1>
<p>Sales this month</p>
<% @products.each do |product| %>
<% end %>
