<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://www.rollingstone.com/wp-content/uploads/2019/01/travis-scott-astroworld-merch.jpg?resize=1800,1200&w=1800);">
  <div class="container">
    <h1>REAL DESIGNS<br> BY REAL ARTISTS<br> FOR REAL PEOPLE</h1>
      <h3>Editors pick</h3>
      <p>Pre-order the freshest new T-shirt designs<br> from your local creators<br> across design, music and beyond</p>
        <a class="btn btn-link" href="#">Shop now</a>
  </div>
</div>
<h2>SHOP BY ARTIST</h2>
<div class="cards">
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://cdns-images.dzcdn.net/images/artist/31c3120c65fd5e2c12ce917e998f53a7/500x500.jpg)">
    KAYDY CAIN
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i1.sndcdn.com/artworks-OQyJE6AFdiT1dViT-tszZLA-t500x500.jpg)">
    LIL DURK
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://is2-ssl.mzstatic.com/image/thumb/Features125/v4/cb/66/96/cb6696a4-76d5-7085-912a-29e6b3bd59e3/mza_7786604687775085933.jpeg/375x375cc.webp)">
    LIL BABY
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i2.wp.com/historia-biografia.com/wp-content/uploads/2017/07/50cent41.jpg?fit=600%2C400&ssl=1)">
    50 CENT
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://i1.sndcdn.com/artworks-LciRZL7SFt3UEP1s-9h9sIA-t500x500.jpg)">
    POP SMOKE
  </div>
  <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://www.ansa.it/webimages/img_457x/2021/6/11/e6c5a151ebb5c62b55842f88f6dbbd87.jpg)">
    TONY EFFE
  </div>
</div>
<div class="title">
<h1>MAKE THINGS BETTER <br> NO RISK. NO WASTE.</h1>
</div>
<div class="row imgs-centered">
  <img src="https://streetsq.com/wp-content/uploads/2019/11/Travis_Scott.jpg" />
  <img src="https://www.simon-kucher.com/sites/default/files/styles/670xh/public/2019-11/blog_fashion_670x350px.jpg?itok=I42Fm6-E" />
</div>
<div class="row">
  <div style="width: 48%;">
    <h3>SELL YOUR MERCHANDISE RISK FREE</h3>
    <h6>Our company asks no initial investment for your merchandise <br> campaign.
    We assume all the responsabilities and procedures <br> to fully satisfy your customers.</h6>
  </div>
  <div style="width: 48%;">
    <h4>PREVENT WASTE & SAVE TIME</h4>
    <h5 margin="margin: 0;">By joining us you will help the reduction of waste. Moreover by handing us
    your merchandise campaign you will benefit an enormus <br> amount of time,
    as we will take care of every minimum detail.</h5>
  </div>
</div>

<div class="card">
  <div class="card-body">
    <h5>BECOME A SELLER</h5>
    <p class="card-text">Our platform will take care of your merchandise campaign.
    No initial investment is needed and therefore you will have to undertake no economic or managment risks,
    as we will take care of everything in minimum details. If you decide to join us we will offer your fans the best comprise between price and quality of the product.
    What are you waiting for?
    </p>
    <a href="#" class="btn btn-dark">START NOW</a>
  </div>
</div>
