.footer-basic {
  padding:20px 0;
  background-color:rgb(249, 244, 244);
  color: black;
}

.footer-basic ul {
  padding:0;
  list-style:none;
  text-align:center;
  font-size:18px;
  line-height:1.6;
  margin-bottom:0;
  color: black;
}

.footer-basic li {
  padding:0 10px;
  color: black;
}

.footer-basic ul a {
  color:inherit;
  text-decoration:none;
  opacity:0.8;
  color: black;
}

.footer-basic ul a:hover {
  color: blue;
  opacity: 1;
}

.footer-basic .social {
  text-align:center;
  padding-top: 0px;
  padding-bottom: 18px;
  color: black;
}

.footer-basic .social > a {
  font-size:28px;
  width:40px;
  height:40px;
  line-height:40px;
  display:inline-block;
  text-align:center;
  border-radius:50%;
  border:1px solid #ccc;
  margin:0 8px;
  color:inherit;
  opacity:0.75;
  color: black;
}

.footer-basic .social > a:hover {
  color: blue;
  opacity: 1;
}

.footer-basic .copyright {
  padding-top:18px;
  text-align:center;
  font-size:17px;
  color: lightslategrey;
  margin-bottom:0;
  padding-bottom: 0px;
}
