$ruler: 16px;
$color-red: #AE1100;
$color-bg: #EBECF0;
$color-shadow: #BABECC;
$color-white: #FFF;

// .container {
//   height: 200px;
// }
// .container h2 {
//   text-align: center;
// }
// form {
//   margin: 0 auto;
//   width: 362px;
//   padding: 25px;
//   background: #f1f1f1;
//   border: 1px solid #e5e5e5;
// }

// input{
//   margin-right: $ruler/2;
//   box-shadow:  inset 2px 2px 5px $color-shadow, inset -5px -5px 10px $color-white;
//   width: 100%;
//   box-sizing: border-box;
//   transition: all 0.2s ease-in-out;
//   appearance: none;
//   -webkit-appearance: none;
// }
