$ruler: 16px;
$color-red: #AE1100;
$color-bg: #EBECF0;
$color-shadow: #BABECC;
$color-white: #FFF;

//.container {
//   height: 200px;
// }
// .container h2 {
//   text-align: center;
// }
// form {
//   margin: 0 auto;
//   width: 362px;
//   padding: 25px;
//   background: #f1f1f1;
//   border: 1px solid #e5e5e5;
// }

// input{

// }

.form {
  margin: 200px;
  background-color: white;
  margin-top: 20px;
  padding: 40px;

}
