.navbar {
  padding-left: 50px;
  padding-right: 50px;
  background-color: white!important;
}

.nav-link {
  font-size: 20px;
}

.fa-shopping-cart {
  position: relative;
  top: 2px;
  left: 850px;
  font-size: 25px;
}

.filippo {
  position: relative;
  right: 60px;
  font-size: 20px;
}


.logo{
  height: 50px;
  padding-right: 25px;
}
