.navbar {
  padding-left: 50px;
  padding-right: 50px;
  background-color: white!important;
}


.nav-link {
  font-size: 17px;
}

.fas .fa-shopping-cart {
  size: 20px;
  padding-right: 15px;
}



.logo{
  height: 50px;
  padding-right: 25px;
}
