.navbar {
  padding-left: 50px;
  padding-right: 50px;
  background-color: white!important;
}

.nav-link {
  font-size: 20px;
}

.filippo {
  position: relative;
  font-size: 20px;
}


.logo{
  height: 50px;
  padding-right: 25px;
}
