.product-show-box {
  width: 100vw;
  overflow: hidden;
  display: flex;
  position: relative;
}
.izq {
  width: 70%;
  overflow: hidden;
  img {
    width: 100%;
  }
}
.der {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 40px 40px;
  height: fit-content;
  position: fixed;
  right: 0;
  form {
    width: 100%;
  }
}
