<div class="background-page">
  <h1>My prodcts</h1>
  <div class="container">
    <% @products.each do |product| %>
      <div class="col-sm">
        <div class="product-img">
          <%= cl_image_tag product.photo.key %>
        </div>
        <div class="product-card-info">
          <div class="product-card-price">
            <h5><%= product.name %> </h5>
            <p> <%= product.price %> €</p>
          </div>
          <div class="btn-user-box">
            <button type="button" class="btn-card-dashboard" ><%= link_to "Edit", edit_product_path(product) %></button>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
